!!!
%html
  %head
    %script{type: 'text/javascript', src: 'jquery.min.js'}
    %script{type: 'text/javascript', src: 'keyboard.js'}
    %script{type: 'text/javascript', src: 'stats.js'}
    %script{type: 'text/javascript', src: 'polyfill.js'}
    %script{type: 'text/javascript', src: 'three.js'}
    %script{type: 'text/javascript', src: 'three_ext/effect_composer.js'}
    %script{type: 'text/javascript', src: 'three_ext/mask_pass.js'}
    %script{type: 'text/javascript', src: 'three_ext/render_pass.js'}
    %script{type: 'text/javascript', src: 'three_ext/shader_pass.js'}
    %script{type: 'text/javascript', src: 'three_ext/copy_shader.js'}

    %script{type: 'text/javascript', src: 'shaders.js'}
    %script{type: 'text/javascript', src: 'player.js'}
    %script{type: 'text/javascript', src: 'effects.js'}
    %script{type: 'text/javascript', src: 'level.js'}
    %script{type: 'text/javascript', src: 'plants.js'}
    %script{type: 'text/javascript', src: 'stars.js'}
    %script{type: 'text/javascript', src: 'game.js'}
    %link{:href => "http://fonts.googleapis.com/css?family=Marvel:400,700,700italic,400italic", :rel => "stylesheet", :type => "text/css"}/
    %link{rel: 'stylesheet', href: 'styles.css'}
  %body
    #intro
      %h1
        What do your pixels do when you aren't using them?
        %a#play{href: '#'} Find Out
        &larr;  &larr;
      .credits
        By Ryder Moody and Enrique Cruz. View on
        %a{href: 'https://github.com/rymo4/ColorSpace'} github.

    #container
